p{
    background-color: white;
    color:plum;
    font-weight: lighter;
    font-style: bold italic;
}
h1{
    background-color: gray;
    color: white;
    font-weight: bolder;
    font-style: bold italic;
}
h2{
    background-color: rgb(6, 255, 255);
    color: white;
    font-weight: bold;
    font-style: bold ;
}
h3{
    background-color:gainsboro;
    color:green;
    font-weight: lighter;
    font-style: bold;
}
section{
    background-color:lavender;
    color:purple;
    font-weight: lighter;
    font-style: oblique;
}
h4{
    background-color: azure;
    color: brown;
    font-weight: bold;
    font-style: bold;
}

